.patient-sidebar{

    width:250px;
    height:100vh;

    background:#1b1f27;

    position:fixed;

    top:70px;
    left:0;

    overflow-y:auto;

}

.patient-sidebar ul{

    list-style:none;

    padding:0;
    margin:0;

}

.patient-sidebar li{

    padding:18px;
    transition:.3s;

}

.patient-sidebar li:hover{

    background:#2563eb;

}

.patient-sidebar a{

    color:white;
    text-decoration:none;
    display:block;
    font-size:17px;

}

.logout-item{

    color:white;
    cursor:pointer;

}

.logout-item:hover{

    background:#dc2626;

}